@import url("https://fonts.googleapis.com/css?family=Quicksand");
:root {
  --color-1: #000;
  --color-2: #222;
  --color-3: #ff6600;
  --color-4: #aaa;
}
html {
  height: 100%;
  background-color: var(--color-1);
}
body {
  background-image: linear-gradient(to bottom, black, var(--color-2));
  background-color: var(--color-2);
  flex: 1;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Quicksand;
  margin: 0;
}
a {
  text-decoration: none;
}
.head {
  position: absolute;
  top: 50%;
  left: 50%;
  animation-duration: 1s;
  animation-name: slideup;
  transform: translate(-50%, -50%);
  animation-delay: 1s;
  animation-fill-mode: forwards;
  width: 100%;
}
.head > .text {
  flex: 1;
}
h1,
h2 {
  margin: 0;
  text-align: center;
  font-size: 50px;
}
h2 {
  font-size: 40px;
  color: #aaa;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-name: beginMain;
  animation-fill-mode: forwards;
  opacity: 0;
  margin: 150px 0.5em 0 0;
}
.section {
  flex: 1;
  margin: 0.5em 0.5em;
  padding: 0.5em 1em;
  background-color: var(--color-2);
  text-align: center;
}
.links > a > .icon {
  font-size: 30px;
  margin: 0 10px;
}
a:link,
a:visited {
  color: #fff;
}
.main > .image {
  flex: 1;
  background: url("https://ipfs.io/ipfs/QmYCswNUPm4Kz1ZgtYNLi2Wimm8b44dzseMDtx77S3Eo3o?filename=me.jpg")
    no-repeat;
  padding: 0 0;
  background-position: top center;
}
.img-placeholder {
  height: 500px;
}
h2.subheading {
  font-size: 30px;
  color: var(--color-3);
}
h2.subheading-small {
  font-size: 25px;
  color: var(--color-3);
}
h1.subheading {
  font-size: 45px;
  color: var(--color-3);
}
.skillList {
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.projectsContainer {
  flex: 1;
  background-color: var(--color-2);
  margin: 0.5em 0.5em;
  padding: 0.5em 0;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-name: beginMain;
  animation-fill-mode: forwards;
  opacity: 0;
}
.projectListContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 0.5em 0;
  padding: 0.5em 0.5em;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.projectContainer {
  flex: 1 0 calc(30%);
  margin: 0.5em 0.5em;
  padding: 0.5em 1em;
  background-color: var(--color-1);
  text-align: center;
  max-width: 30%;
  position: relative;
  border-radius: 10px;
}
.projectContainer .image {
  width: 20vw;
  overflow: hidden;
  margin: 20px 0;
}

.button-container {
  width: 100%;
  flex-direction: row;
}
.button {
  display: inline-block;
  width: 28%;
  cursor: pointer;
  padding: 2px 10px;
  margin: 0 10px;
}
.button.code {
  background: var(--color-3);
}
.button.live-link {
  background: var(--color-4);
  color: var(--color-1);
}

@keyframes slideup {
  from {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 0%;
    transform: translate(-50%, 10%);
    left: 50%;
  }
}

@keyframes beginMain {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 100%;
    display: block;
  }
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
    margin-top: 200px;
  }
  .projectListContainer {
    flex-direction: column;
  }
  .projectContainer {
    max-width: 100%;
  }
  .projectContainer .image {
    width: 70vw;
  }
}
