@import url("https://fonts.googleapis.com/css?family=Quicksand");
:root {
  --color-1: #000;
  --color-2: #222;
  --color-3: #ff6600;
  --color-4: #aaa;
  --curve: 20;
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background-color: var(--color-1);
}
body {
  background-image: linear-gradient(to bottom, black, var(--color-2));
  background-color: var(--color-2);
  flex: 1;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Quicksand;
  margin: 0;
}
a {
  text-decoration: none;
}
.head {
  position: absolute;
  top: 50%;
  left: 50%;
  animation-duration: 1s;
  animation-name: slideup;
  transform: translate(-50%, -50%);
  animation-delay: 1s;
  animation-fill-mode: forwards;
  width: 100%;
}
.head > .text {
  flex: 1;
}
h1,
h2 {
  margin: 0;
  text-align: center;
  font-size: 50px;
}
h2 {
  font-size: 40px;
  color: #aaa;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-name: beginMain;
  animation-fill-mode: forwards;
  opacity: 0;
  margin: 150px 0.5em 0 0;
}
.section {
  flex: 1;
  margin: 0.5em 0.5em;
  padding: 0.5em 1em;
  background-color: var(--color-2);
  text-align: center;
}
.links > a > .icon {
  font-size: 30px;
  margin: 0 10px;
}
a:link,
a:visited {
  color: #fff;
}
.main > .image {
  flex: 1;
  background: url("https://ipfs.io/ipfs/QmYCswNUPm4Kz1ZgtYNLi2Wimm8b44dzseMDtx77S3Eo3o?filename=me.jpg")
    no-repeat;
  padding: 0 0;
  background-position: top center;
}
.img-placeholder {
  height: 500px;
}
h2.subheading {
  font-size: 30px;
  color: var(--color-3);
}
h2.subheading-small {
  font-size: 25px;
  color: var(--color-3);
}
h1.subheading {
  font-size: 45px;
  color: var(--color-3);
}
.skillList {
  text-align: left;
  font-size: 18px;
  line-height: 27px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.projectsContainer {
  flex: 1;
  background-color: var(--color-2);
  margin: 0.5em 0.5em;
  padding: 0.5em 0;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-name: beginMain;
  animation-fill-mode: forwards;
  opacity: 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  border: 1px solid var(--color-3);
  min-height: 300px;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--color-2);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--color-2);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}
.card__overlay.initially-extended {
  transform: translateY(0%);
}
.card__header.initially-extended {
  transform: translateY(0%);
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--color-2);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: var(--color-3);
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 1em;
  margin: 0;
  color: #d7bdca;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.link {
  color: var(--color-3);
  margin: 0;
  padding: 0em 2em 0em;
  font-size: 0.8em;
  margin-left: 5px;
}
.link:hover {
  color: var(--color-4);
}

@keyframes slideup {
  from {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 0%;
    transform: translate(-50%, 10%);
    left: 50%;
  }
}

@keyframes beginMain {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 100%;
    display: block;
  }
}

@media (max-width: 1000px) {
  :root {
    --curve: 10;
  }
  .main {
    flex-direction: column;
    margin-top: 200px;
  }
  .card > img {
    width: 100%;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
