@import url("https://fonts.googleapis.com/css?family=Quicksand");
:root {
  --color-1: #000;
  --color-2: #222;
  --color-3: #ff6600;
  --color-4: #aaa;
  --color-5: #fff;
}

::selection {
  background-color: var(--color-3);
  color: var(--color-5);
}

* {
  box-sizing: border-box;
}
body {
  font: normal 15px / 1.33333 monospace;
  background-color: var(--color-1);
  background: radial-gradient(var(--color-2), var(--color-1));
  -webkit-font-smoothing: antialiased;
  color: var(--color-5);
}
a {
  text-decoration: none;
}

.section {
  flex: 1;
  margin: 1rem 0;
  border-radius: 10px;
  font-size: 1.15rem;
}

main,
.three-d-main *,
.three-d-main *:before,
.three-d-main *:after {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
main {
  display: block;
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
  transition: 200ms;
}

.three-d:before {
  color: var(--color-5);
  left: 0;
  position: absolute;
  content: attr(three-d-text);
  -webkit-filter: blur(1px);
  filter: blur(1px);
  overflow: hidden;
  pointer-events: none;
  -webkit-transform: translateZ(-50rem);
  transform: translateZ(-50rem);
  opacity: 0.1;
}

.myImage {
  background: url("./image.jpg") no-repeat;
  background-position: top center;
  width: 400px;
  max-width: 100%;
  height: 400px;
  margin: 2rem 0;
}
.image:before {
  width: inherit;
  height: inherit;
  content: "";
}
.myImage:before {
  background: url("./image.jpg") no-repeat;
}

h1,
h2,
h1:before,
h2:before {
  margin: 0 !important;
  font-size: 1.5rem !important;
}

h1,
h1:before {
  font-size: 2rem !important;
  color: var(--color-3) !important;
}

.links {
  display: inline-flex;
  flex-direction: row;
  vertical-align: middle;
  flex-wrap: wrap;
}
.links > a,
.links > a:before {
  align-self: center;
  font-size: 1.5rem;
  margin: 0px 10px 10px 0;
  padding: 0 5px;
  transition: all 200ms;
  background: var(--color-3);
  color: var(--color-5);
}

.links > a:hover {
  background: var(--color-5);
  color: var(--color-3);
}
.links > a:nth-of-type(even):hover {
  transform: rotate(-5deg);
}
.links > a:nth-of-type(odd):hover {
  transform: rotate(5deg);
}

.divider {
  font-size: 30px;
  margin: 0 10px;
}
